@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700&display=swap');

html{
  font-size: 16px;
  font-family: 'Yantramanav', sans-serif;
  background-color:#ffffff ;
}


main{
  display: grid;
}

.contactme{
  padding-left: 15%;
}

.nav-items{
  list-style-type: none;
  margin-right: 10%;
  padding-top: 5%;
}

/*This right here is for removing the underline on the nav links - next will be text color*/
a{
  text-decoration: none;
  /*This color will be changed as needed.*/
  color: black;
}

/*Also for the other UL that the programming lagnuages are on - make sure that has a class or an id so it can have the little dots besides it.*/
ul .techstack {
  list-style-type: circle;
}


/*
nav{
  text-align: center;
  
}
*/



/*Footing Section

This will also need a media query will size to a minimum of 720px I believe, and the scale will be 0.5em when being made smaller, it will be stepped down in the range increment for support for not only desktop, but mobile as well. */
footer{
  text-align: center;
  font-size: 1.2em;
  margin-top: 5%;
}

nav{
  font-size: 1.1em;
}

/*Home Page Grid REVISE ME - REVISE ALL OF THIS AND POSSIBLY START FROM SCRATCH.*/


.grid1{
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;  
  
  grid-template-areas:
  "h1heading h1heading"
  "logo logo"
  "nav-items nav-items"
  "homebody1 homebody1"
  "homebody2 homebody2"
  "techstack techstack"
  "footer footer" ;
}


.h1heading{
  grid-area: h1heading;
}

.logo{
  grid-area: logo;
  margin-left: 24%;
  font-size: 1.2em;
}

.nav-items{
  grid-area: nav-items;
  justify-content: center;

}


form{
  padding-left: 18%;
}


.homebody1{
  grid-area: homebody1;
  justify-self: end;
  padding-right: 20%

}

.homebody2{
  grid-area: homebody2;
  padding-right: 20%
  
}

.techstack{
  grid-area: techstack;
  padding-right: 20%

}

.footer{
  grid-area: footer;
}

@media screen and (min-width: 736px){
  .grid1{
    display:grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;  
    
    grid-template-areas:
    "h1heading h1heading"
    "logo logo"
    "nav-items nav-items"
    "homebody1 homebody1"
    "homebody2 homebody2"
    "techstack techstack"
    "footer footer" ;
  }
}
/*Gotta redo grid - use this for reference for the design: https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/*/


/*Revise this*/
.educationbutton{
  font-size: 1.2em;
  padding-top: 1%;
  text-align: center;
}

/*Form Styling*/
button{
  background-color: white;
  font-family: 'Yantramanav', sans-serif;
}

form input{
  width: 75%;
  font-family: 'Yantramanav', sans-serif;
}

textarea{
  width: 75%;
  font-family: 'Yantramanav', sans-serif;
}


/*Education Page*/
.educationheading{
  text-align: center;
  padding-bottom: 2%;
}

.educationbody1{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2em;
}

.educationbody2{
  padding-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2em;
}
