@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700&display=swap');

html{
  font-size: 16px;
  font-family: 'Yantramanav', sans-serif;
}

.logo{
  font-size: 2.3em;
  text-align: center;
}

/*UL for the nav bar - trying to make it looks right - next step will probably be removing those purple lines and adjusting it to be on a grid of some breed.*/
.nav-items{
  list-style-type: none;
  margin: 0;
  /*Revise this.*/
  padding-right: 3%;
}

/*This right here is for removing the underline on the nav links - next will be text color*/
a{
  text-decoration: none;
  /*This color will be changed as needed.*/
  color: black;
}

/*Also for the other UL that the programming lagnuages are on - make sure that has a class or an id so it can have the little dots besides it.*/
ul .techstack {
  list-style-type: circle;
}

.nav-items li {
  display: inline; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 10px;
  transition: background .5s; 
  padding: 2rem;
  
}

nav{
  text-align: center;
  
}




/*Footing Section

This will also need a media query will size to a minimum of 720px I believe, and the scale will be 0.5em when being made smaller, it will be stepped down in the range increment for support for not only desktop, but mobile as well. */
footer{
  text-align: center;
  font-size: 1.2em;
}

nav{
  font-size: 1.1em;
}

/*Home Page Grid REVISE ME - REVISE ALL OF THIS AND POSSIBLY START FROM SCRATCH.*/



.image{
  grid-area: image;
  max-width: 10%;
}
 
.someinfo {
  grid-area: someinfo;
  margin-left: 50%;
} 
 
.homebody1 {
  grid-area: homebody1;
  margin-left: 50%;
} 
 
.ongoingprojectheader {
  grid-area: ongoingprojectheader;
  margin-left: 50%;
} 
 
.homebody2 {
  grid-area: homebody2;
  margin-left: 50%;
}
 
.techstackhead {
  grid-area: techstackhead;
  margin-left: 50%;
} 

.techstack{
  grid-area: techstack;
  margin-left: 50%;
}

/*Added Temp?*/
.logo{
  grid-area: logo;
}

.h1heading{
  grid-area: h1heading;
}

.nav-items{
  grid-area: nav-items;
  
}

footer{
  
  grid-area: footer;
}

/*
Currently Testing

@media (min-width: 500px){
  .grid1 {
    display: grid;
    max-width: 1100px;
    position: relative;
    margin: auto;
    grid-template-areas: "coltonpicture someinfo"
                         "coltonpicture homebody1" 
                         "coltonpicture ongoingprojectheader"
                         "coltonpicture homebody3"
                         "techstackhead techstackhead"
                         "techstack techstack";
    grid-template-rows: 300px 120px 800px 120px;
    grid-template-columns: 1fr 3fr; 
  }
}
*/

/*Testing*/
.grid1{
  display: grid;
  gap: 20px;
  grid-template-areas:
  "h1heading"
  "logo"
  "nav-items"
  "someinfo"
  "homebody1"
  "image"
  "ongoingprojectheader"
  "homebody2"
  "techstackhead"
  "techstack"
  "footerhome";
}

@media (min-width: 500px){
  .grid1 {
    display: grid;
    max-width: 1850px;
    position: relative;
    margin: auto;
    grid-template-areas: "h1heading h1heading"
                         "logo logo" 
                         "nav-items nav-items"
                         "someinfo someinfo"
                         "image homebody1"
                         "image ongoingprojectheader"
                         "image homebody2"
                         "image techstackhead"
                         "image techstack"
                         "footer footer";
                         /*Adjust these parameters as needed.*/
    grid-template-rows: 100px 50px 60px 60px;
    grid-template-columns: 1fr; 
  }
  .someinfo .homebody1 .ongoingprojectheader .homebody2 {
    flex-direction: column;
  }
}